/* div {
  border: 1px solid red;
} */
header {

}
.item {
  color: dimgray;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

ul li {
  font-size: 36px;
  font-weight: bold;
  margin-right: 50px;
}